html {
    user-select: none;
}
canvas {
    position: fixed;
    will-change: cursor;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    cursor: default;
    background-color: transparent;
}
.ui {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: #fff;
    padding-top: 32px;
    overflow: hidden;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
}
.ui div.drag {
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: move;
    user-select: none;
    padding: 6px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}
.ui .current .sel {
    width: 48px;
    height: 48px;
    border: 1px solid #f00;
}
.ui .blockSel .item {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.15s;
}
.ui .blockSel .item:hover {
    border-color: #f44;
}
.ui .current .sel,
.ui .blockSel .item {
    background-size: contain;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.ui .layers {
    display: grid;
    width: 100%;
    border-radius: 2px;
    outline: 1px solid white;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 0;
}
.ui .layers .layer {
    text-align: center;
    outline: 1px solid white;
    background-color: transparent;
    will-change: color, background-color;
    transition: 0.15s;
    cursor: pointer;
}
.ui .layers .layer:hover {
    background-color: #333;
}
.ui .layers .layer.sel {
    background-color: #fff;
    color: #000;
}
textarea {
    width: 100%;
    height: 45vh;
    margin: 0;
    border: 0;
}
.button {
    border-radius: 2px;
    min-width: 24px;
    min-height: 16px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    transition: 0.15s;
}
.button:hover {
    background-color: #333;
}
.prompta {
    position: fixed;
    border-radius: 4px;
    background-color: black;
    min-width: 40%;
    color: white;
    padding: 8px;
}
